.m0x {
    margin: 0px;
}
.mt0x {
    margin-top: 0px;
}
.mr0x {
    margin-right: 0px;
}
.mb0x {
    margin-bottom: 0px;
}
.ml0x {
    margin-left: 0px;
}
.p0x {
    padding: 0px;
}
.pt0x {
    padding-top: 0px;
}
.pr0x {
    padding-right: 0px;
}
.pb0x {
    padding-bottom: 0px;
}
.pl0x {
    padding-left: 0px;
}