html, body {
  color: #464646;
  font-family: Roboto;
}
/*
 * Fonts
 */

 .f20 {
	 font-size: 20px;
 }

 .fw100 {
   font-weight: 100;
 }

/*
 * Heading
 */

h1 {
    font-size: 42px;
}

/*
 * Row
 */
.row {
    text-align: center;
    margin-bottom: 1em;
}

.row .column-3 {
    text-align: left;
}

/*
 * Element Declerations
 */
p {
    font-size: 16px;
}

input[type=text] {
    width: 95%;
    font-size: 14px;
    text-align: left;
    border: solid 10px #FFF;
    border-radius: 5px;
    background-color: #FFF;
    -webkit-appearance: none;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #464646;
}

/*
 * Others
 */

header {
    text-align: center;
    width: 100%;
    margin: 0;
    height: 100px;
    padding: 0;
    line-height: 100px;
    border-top: 3px solid #4D6DE3;
}

.tal {
    text-align: left;
}

 .box {
    background: #F7F7F7;
    border-radius: 5px;
    padding: 0 1em 1em;
    text-align: left;
 }

 .number-prefix {
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    border: 5px solid #464646;
 }

 .dependents {
   position: relative;
   margin-bottom: .5em;
 }

  .text-label-for-checkbox-bck {
      padding-left: .5em;
  }

 .checkbox-bck label > span {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   background: #fff;
   border-radius: 4px;
   border: 0.3px solid #4D6DE3;
}

.checkbox-bck label > span:after {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  line-height: 16px;
  border-top: none;
  border-right: none;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  left: 5px;
}
.checkbox-bck input[type=radio] {
  visibility: hidden;
}

.checkbox-bck input[type=radio]:checked + label > span:after {
  color: #FC5185;
}

.px input[type=radio]:checked + label > span:after {
  content: 'p';
  opacity: 1;
}

.em input[type=radio]:checked + label > span:after {
  content: 'e';
  opacity: 1;
}

.rem input[type=radio]:checked + label > span:after {
  content: 'r';
  opacity: 1;
}

.percentage input[type=radio]:checked + label > span:after {
  content: '%';
  opacity: 1;
  font-size: 13px;
  top: 2px;
  left: 3px;
}

.myes input[type=radio]:checked + label > span:after,
.pyes input[type=radio]:checked + label > span:after,
.muyes input[type=radio]:checked + label > span:after {
  content: 'y';
  opacity: 1;
}

.mno input[type=radio]:checked + label > span:after,
.pno input[type=radio]:checked + label > span:after,
.muno input[type=radio]:checked + label > span:after  {
  content: 'n';
  opacity: 1;
}

.submit {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 2em;
    border-radius: 10px;
    background: none;
    transition: all 0.2s;
    background-color: #FFF;
    color: #4D6DE3;
    border: solid 3px #4D6DE3;
}

.submit:focus,
#output:focus {
    outline: none;
}

.submit:hover {
    background-color: #4D6DE3;
    color: #FFF;
    border: solid 3px #4D6DE3;
}

#output {
    width: 100%;
    font-size: 14px;
    text-align: left;
    border: solid 10px #FFF;
    border-radius: 5px;
    background-color: #FFF;
    -webkit-appearance: none;
    box-shadow: 0 0 0 2px #464646;
    min-height: 100px;
    height: auto;
    max-height: 150px;
    overflow-y: scroll;
    resize: none;
    transition: all 0.2s;
}
